body{ background-color: #24776d;
background-color: #20203a;
background-color: #1d465c;
background-color: #1f122c;
background-color: #121f30;
background-color: #c4b998;
background-color: #937341;
}